<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan oe_mb32">Facturaci&oacute;n Electr&oacute;nica para Chile</h3>
        <div class="oe_span6">
            <!--<img class="oe_picture" src="png" />-->
        </div>
        <div class="oe_span12 text-justify">
            <p class="oe_mt32">
              Facturaci&oacute;n Electr&oacute;nica Chilena Directa con el SII.
            </p>
            <p class="oe_mt12">
                <ul>
                 <li> El uso de este m&oacute;dulo requiere de aprobar una certificaci&oacute;n de facturador propio de mercado en el SII (O contar ya con ella) <a href="https://odoocoop.cl/slides/canal-publico-1">Para Mayor Informaci&oacute;n Click Aqu&iacute;</a></li>
                 <li> Otener m&oacute;dulo de exportaci&oacute;n xlsx "Base report xlsx" desde <a href="https://github.com/OCA/reporting-engine">https://github.com/OCA/reporting-engine</a></li>
                 <li> Se integra la consulta de datos de empresas al repositorio <a href="https://sre.cl">https://sre.cl</a>, para permitir obtener datos digitando el rut</a></li>
                 <li> Al instalar este m&oacute;dulo acepta que por defecto estar&aacute; activa la sincronizaci&oacute;n de datos de partners al repositorio <a href="https://sre.cl">https://sre.cl</a>, sin embargo puede desactivarlo en todo momento desde el panel de configuraci&oacute;n general</li>
                 <li>Integraci&oacute;n con <a href="https://apicaf.cl">https://apicaf.cl</a>, Api que permite emitir folios v&iacute;a api, sin pasar por la p&aacute;gina del SII. El uso El uso y condiciones de la api es seg&uacute;n pol&iacute;ticas expuestas en el sitio web mismo de la api.</li>
                </ul>
            </p>
            <p class="oe_mt12">
                Estado:
                <ul>
                     <li> Factura Electr&oacute;nica (FAC 33, FNA 34): Ok env&iacute;o, Ok muestra impresa, Ok Certificaci&oacute;n</li>
                     <li> Nota de Cr&eacute;dito Electr&oacute;nica: Ok env&iacute;o, Ok muestra impresa, Ok Certificaci&oacute;n</li>
                     <li> Nota de D&eacute;bito Electr&oacute;nica: Ok env&iacute;o, Ok muestra impresa, Ok Certificaci&oacute;n</li>
                     <li> Recepci&oacute;n XML Intercambio: Ok recepci&oacute;n, Ok respuesta mercader&iacute;as, Ok respuesta Validaci&oacute;n Comercial, Ok Env&iacute;o Recepci&oacute;n al SII, Ok Certificaci&oacute;n</li>
                     <li> Libro de Compra Venta: Ok env&iacute;o al SII, Ok Certificaci&oacute;n (B&aacute;sico y Exentos)</li>
                     <li> Consumo de Folios: Validaci&oacute;n OK, Env&iacute;o OK, Certificaci&oacute;n OK</li>
                     <li> Boleta Electr&oacute;nica por BO ( 39, 41 ): Validaci&oacute;n Ok, Muestra impresa No probado a&uacute;n, Informaci&oacute;n P&uacute;blica no adaptada a&uacute;n
                     <li> Libro Boletas Electr&oacute;nica: Validaci&oacute;n Ok, Creaci&oacute;n XML OK</li>
                     <li> Boleta Electr&oacute;nica por POS ( 39, 41): Validaci&oacute;n Ok, Muestras Impresas Ticket OK, Generaci&oacute;n XML Ok, Visaulizaci&oacute;n P&uacute;blica Ok, Certificaci&oacute;n OK v&iacute;a <a href="https://gitlab.com/dansanti/l10n_cl_dte_point_of_sale">https://gitlab.com/dansanti/l10n_cl_dte_point_of_sale</a></li>
                     <li> Nota de Cr&eacute;dito Electr&oacute;nica para Boletas ( Solo por BO POS): Validaci&oacute;n Ok, Generaci&oacute;n XML Ok, Muestras Impresas Ticket OK, Certificaci&oacute;n OK v&iacute;a <a href="https://gitlab.com/dansanti/l10n_cl_dte_point_of_sale">https://gitlab.com/dansanti/l10n_cl_dte_point_of_sale</a></li>
                     <li> Gu&iacute;a de Despacho Electr&oacute;nica: Ok env&iacute;o, Ok muestra impresa, Ok Certificaci&oacute;n, v&iacute;a <a href="https://gitlab.com/dansanti/l10n_cl_stock_picking">https://gitlab.com/dansanti/l10n_cl_stock_picking</a></li>
                     <li> Libro Gu&iacute;a Despacho: Ok env&iacute;o, Ok Muestras impresas, Ok Certificaci&oacute;n, v&iacute;a <a href="https://gitlab.com/dansanti/l10n_cl_stock_picking">https://gitlab.com/dansanti/l10n_cl_stock_picking</a></li>
                     <li> Factoring (Cesi&oacute;n de Cr&eacute;ditos): Ok Env&iacute;o, Ok Certificaci&oacute;n, v&iacute;a <a href="https://gitlab.com/dansanti/l10n_cl_dte_factoring">https://gitlab.com/dansanti/l10n_cl_dte_factoring</a></li>
                     <li> Factura de Exportaci&oacute;n Electr&oacute;nica ( 110 con sus NC 111 y ND 112): Ok Env&iacute;o, Ok Certificaci&oacute;n, v&iacute;a <a href="https://gitlab.com/dansanti/l10n_cl_dte_exportacion">https://gitlab.com/dansanti/l10n_cl_dte_exportacion</a></li>
                     <li> Liquidaci&oacute;n de Facturas: No desarrollada</li>
                     <li> Factura de Compra Electr&oacute;nica ( 46 ): No desarrollada (NO confundir con el concepto de ingresar facturas de proveedor, que la mayor&iacute;a le dice de compras, este es un documento de retenci&oacute;n de impuestos, la recepci&oacute;n de documentos proveedor, est&aacute; soportada, con los 4 tipos de respuesta que se deben generar seg&uacute;n normativa del sii)</li>
                </ul>
                Impuestos Soportados Para Ventas(Probados en emisi&oacute;n):
                <ul>
                  <li> IVA</li>
                  <li> Exentos</li>
                  <li> Espec&iacute;fico Carnes</li>
                  <li> Espec&iacute;fico ILA cervezas</li>
                  <li> Espec&iacute;fico Combustibles (diesel, gasolina 93, gasolina 97)</li>
                </ul>
            </p>
            <p class="oe_mt12">
                Agradecimientos y colaboradores:
                <ul>
                 <li> Daniel Santib&aacute;&ntilde;ez Polanco</li>
                 <li> Daniel Blanco</li>
                 <li> Nelson Ramirez</li>
                 <li> Carlos Toledo</li>
                 <li> Carlos Lopez</li>
                </ul>
            </p>
            <p class="oe_mt12">
                El m&oacute;dulo es totalmente gratuito, de libre uso e instalaci&oacute;n (Desarrollado bajo la licencia AGPLV3+), sin embargo, puede pagar nuestra asesor&iacute;a para aprender a usarlo y pasar las certificaciones necesarias que solicita el SII. <a href="https://odoocoop.cl/contactus">Solicite una evaluaci&oacute;n</a>
            </p>
        </div>
    </div>
</section>
